@import "~bootstrap/scss/bootstrap.scss";

.trafficTop {
  width: 20px;
  background-color: black;
  margin: auto;
  height: 100px;
}

.container {
  width: 100px;
  height: 200px;
  background-color: black;
  margin: auto;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .light {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
  .red {
    background-color: red;
  }
  .green {
    background-color: green;
  }
  .yellow {
    background-color: yellow;
  }
}
.selected {
  box-shadow: 0 0 20px white;
}
